
@{
    ViewData["Title"] = "Index";
}
<h2>Batch Classes</h2>

<table id="table" class="table table-striped table-responsive nowrap">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Class
            </th>
            <th>
                Batch
            </th>
            <th>
                trainer
            </th>
        </tr>
    </thead>
    <tbody class="tbody"></tbody>
</table>
<script type="text/javascript">

    $(document).ready(function () {
        loadData();
    });
    $('#table').dataTable({
        "aoColumns": [null, null, null, null, { "bSortable": false }],
        "order": [],
        "columnDefs": [{
            "targets": 'no-sort',
            "retrieve": true,
            "paging": false,
            "orderable": false,
        }],
        "ajax": loadData(),
        "responsive": true
    });


    //Load Data function
    function loadData() {
        debugger;
        $.ajax({
            url: "BatchClasses/List",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                debugger;
                var html = '';
                const obj = JSON.parse(result);
                $.each(obj, function (key, item) {
                    console.log(result);
                    html += '<tr>';
                    html += '<td>' + item.Id + '</td>';
                    html += '<td>' + item.Class.Name + '</td>';
                    html += '<td>' + item.Batch.Name + '</td>';
                    html += '<td>' + item.Trainer.FirstName+' '+ item.Trainer.LastName  + '</td>';
                    html += '<td><a href="#" onclick="return GetbyID(' + item.Id + ')">Edit</a> | <a href="#" onclick="Delete(' + item.Id + ')">Delete</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
</script>