
@{
    ViewData["Title"] = "Index";
}


<h2>Course Comprehension</h2>

<p>
    <button style="margin-right:10px" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary" onclick="clearTextBox();">Insert Course Comprehension</button>
</p>

<table id="dataGrid" class="table table-striped table-bordered dt-responsive nowrap">
    <thead style="background-color:#df816c">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Weight (%)
            </th>
            <th>
                Class
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody style="background-color:bisque" class="tbody"></tbody>

</table>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Course Comprehension</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form>
                            <div class="form-group" hidden="hidden">
                                <label for="Id">Course Comprehension Id</label>
                                <input type="text" class="form-control" id="Id" placeholder="Id" name="Id" />
                            </div>
                            <div class="form-group">
                                <label for="Name">Name Course Comprehension</label>
                                <input type="text" class="form-control" id="Name" placeholder="Name" name="Name">
                            </div>
                            <div class="form-group">
                                <label for="Weight">Weight Course Comprehension</label>
                                <input type="text" class="form-control" id="Weight" placeholder="Weight" name="Weight">
                            </div>
                            <div class="form-group">
                                <label for="ClassName">Class Course Comprehension</label>
                                <select id="Class" class="pc form-control"></select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Create();">Add</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" data-dismiss="modal" onclick="return Update();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#dataGrid').dataTable({
        "columnDefs": [{ "orderable": false, "targets": 4 }],
        "ajax": loadData(),
        "responsive": true
    });
    //show data table
    function loadData() {
        $.ajax({
            url: "CourseComprehensions/List",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                var html = '';
                const obj = JSON.parse(result);
                $.each(obj, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.Id + '</td>';
                    html += '<td>' + item.Name + '</td>';
                    html += '<td>' + item.Weight + '</td>';
                    html += '<td>' + item.Class['Name'] + '</td>';
                    html += '<td><button type="button" class="btn btn-warning" id="Edit" onclick="return GetbyId(' + item.Id + ')">Edit</button> ' +
                        '<button type="button" class="btn btn-danger" id="Delete" onclick="return Delete(' + item.Id + ')" > Delete</button ></td > ';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }

    function loadClass() {
        $.ajax({
            url: "/Suppliers/List",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                //const obj = JSON.parse(result);
                $.each(result, function (index, item) {
                    html += '<option value=' + item.Id;
                    if ($('#Supp_Id').val() == item.Id) {
                        html += ' selected ';
                    }
                    html += '>' + item.Name + '</option>';
                });
                $('#Supplier_Id').html(html);
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!'
                })
            }
        });
    }

    function GetbyId(ID) {
        debugger;
        $.ajax({
            url: "CourseComprehensions/GetbyId/" + ID,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                debugger;
                const obj = JSON.parse(result);
                $('#Id').val(obj.Id);
                $('#Name').val(obj.Name);
                $('#Weight').val(obj.Weight);

                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    function Delete(ID) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "CourseComprehensions/Delete/",
                    type: "POST",
                    data: { id: ID }
                }).then((result) => {
                    debugger;
                    if (result.StatusCode == 200) {
                        Swal.fire({
                            position: 'center',
                            type: 'success',
                            title: 'Delete Successfully'
                        });
                        loadData();
                    }
                    else {
                        Swal.fire('Error', 'Update Fail', 'error');

                    }
                });
            }
        })
    }


    function clearTextBox() {
        $('#Id').val("");
        $('#Name').val("");
        $('#Weight').val("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#Name').css('border-color', 'lightgrey');
        $('#Weight').css('border-color', 'lightgrey');
    }
</script>
